body{
    width: 100%;
    font-family: 'Open Sans';
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
p{
    color: #A8AAAC;
    font-size: 15px;
}
form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
}

#btn--Submit{
    background-color: #5770A7;
    color: white;
    font-weight: bold;
    box-shadow:  2px 2px 2px black;
}